<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit_homeprofile</title>
</head>
<body>
<form action="homeprofile" method="post">
    <select name="housingType">
        <option value="">어떤 집을 꾸미고 있나요?</option>
        <option value="원룸&오피스텔">원룸&오피스텔</option>
        <option value="아파트">아파트</option>
        <option value="빌라">빌라</option>
        <option value="단독주택">단독주택</option>
    </select>


    <select name="houseSize">
        <option value="">집 크기가 어느 정도인가요?</option>
        <option value="10평 미만">10평 미만</option>
        <option value="10평대">10평대</option>
        <option value="20평대">20평대</option>
        <option value="30평대">30평대</option>
        <option value="40평대">40평대 이상</option>
    </select>

    <input type="submit" value="수정하기">


</form>

</body>
</html>